<h2>My Hotels</h2>

<ul>
<% @hotels.each do |hotel| %>
  <li><%= link_to hotel.inncode + " - " + hotel.name, hotel %>
 	<% if hotel.tasks.where("status = 'open'").count > 0 %>
  	 - <small><%= hotel.tasks.where("status = 'open'").count %> open tasks</small></li>
  	<% end %>
<% end %>
</ul>

<%= link_to "Add New Hotel", new_hotel_path %>

<h3>All Open Tasks</h3>
<ul>
<% @hotels.each do |hotel| %>
	<% hotel.tasks.each do |task| %>
		<% if task.status == 'open' %>
		<li><%= link_to task.name, hotels_path + "/" + hotel.id.to_s %> (<%= hotel.inncode %>)</li>
		<% end %>
	<% end %>
<% end %>
</ul>